

/* ===== Hero ===== */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero-text {
  width: 45%;
}

.hero-text h1 {
  font-size: 36px;
  color: #5F6B09;
}
.hero-img{
  width: 48%;
  display:flex;
  justify-content:end;
}

.hero-img img{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 18px 30px rgba(0,0,0,.12);
}
/* .hero-imge{
   width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;  
} */

.hero-text p {
  margin: 20px 0;
  line-height: 1.7;
}

.hero-text button {
  padding: 10px 22px;
  background: #5F6B09;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

 
/* ===== Services ===== */
.services {
  padding: 60px 80px;
}

.services h2 {
  color: #5F6B09;
  margin-bottom: 30px;
}

.services p {
  padding: 12px;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.service-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.service-card h4 {
  padding: 12px;
  text-align: center;
  color: #5F6B09;
}
.service-card:hover {
  transform: translateY(-5px);
}


/* ===== Financing ===== */
.financing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background: #fff;
}

.fin-text {
  width: 45%;
}

.fin-text h2 {
  font-size: 36px;
  color: #5F6B09;
}

.fin-text p {
  line-height: 1.7;
  margin: 20px 0;
}

.fin-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;    
}


.button a {
  padding: 10px 22px;
  background: #5F6B09;
  color: #fff;
  border-color: #5F6B09;
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* ===== Projects ===== */
.projects-section {
  background: #fff;
  padding: 80px;
  position: relative;
}

.projects-section h2 {
  margin-bottom: 40px;
  font-size: 18px;
  color: #5F6B09;
}

.projects {
  position: relative;
}

.project-box {
  width: 420px;
  padding: 15px 18px;
  border: 1.5px solid #5F6B09;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.6;
}

.project-box.left {
  margin-left: 0;
}

.project-box.right {
  margin-left: 220px;
}

